files:
  /opt/elasticbeanstalk/tasks/taillogs.d/cloud-init.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/certbot/*.log
      /var/log/letsencrypt/letsencrypt.log

  /opt/elasticbeanstalk/tasks/bundlelogs.d/applogs.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/certbot/*.log
      /var/log/letsencrypt/letsencrypt.log

  # Install & run certbot
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_run_certbot_config.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      mkdir -p /var/log/certbot
      chown ec2-user:ec2-user /var/log/certbot
      cd /home/ec2-user
      echo "=======|| $(date) START wget https://dl.eff.org/certbot-auto ||=======" >> /var/log/certbot/install.log
      unset PYTHON_INSTALL_LAYOUT
      wget https://dl.eff.org/certbot-auto -O certbot-auto --output-file=/var/log/certbot/install.log
      chmod a+x certbot-auto
      echo "=======|| $(date) START ./certbot-auto certonly ||=======" >> /var/log/certbot/install.log
      ./certbot-auto certonly --debug --non-interactive --agree-tos --email martin@gruveo.com --webroot --webroot-path /usr/share/nginx/html --domains 'api-demo.gruveo.com' --text >> /var/log/certbot/install.log
      echo "=======|| $(date) END ./certbot-auto certonly ||=======" >> /var/log/certbot/install.log
      DIRECTORY="/etc/letsencrypt/live/api-demo.gruveo.com"
      if [ -d "$DIRECTORY-0001" ]; then
        rm -rf $DIRECTORY-old
        mv $DIRECTORY $DIRECTORY-old
        mv $DIRECTORY-0001 $DIRECTORY
      fi
      service nginx reload
