files:
  /tmp/cron_certbot_renew.sh:
    mode: "000777"
    content: |
      /home/ec2-user/certbot-auto renew --text >> /var/log/certbot/cron.log
      DIRECTORY="/etc/letsencrypt/live/api-demo.gruveo.com"
      if [ -d "$DIRECTORY-0001" ]; then
        rm -rf $DIRECTORY-old
        mv $DIRECTORY $DIRECTORY-old
        mv $DIRECTORY-0001 $DIRECTORY
      fi
      service nginx reload

  /tmp/cron_jobs:
    mode: "000777"
    content: |
      52 17 * * * sudo bash /tmp/cron_certbot_renew.sh >> /var/log/certbot/cron.log

container_commands:
  01_remove_old_cron_jobs:
    command: "crontab -r || exit 0"
  02_cronjobs:
    command: "crontab /tmp/cron_jobs"
    leader_only: true
