files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen 443;
          server_name api-demo.gruveo.com;

          ssl on;
          ssl_certificate /etc/letsencrypt/live/api-demo.gruveo.com/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/api-demo.gruveo.com/privkey.pem;

          ssl_session_timeout 5m;

          ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers on;

          add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /tmp/00_elastic_beanstalk_proxy.conf:
    owner: root
    group: root
    mode: "000644"
    content: |
      upstream nodejs {
          server 127.0.0.1:8081;
          keepalive 256;
      }

      server {
          listen 8080;
          location / {
            return 301 https://$host$request_uri;
          }
          location /.well-known {
            allow all;
          }
      }
  /tmp/45_nginx_https_rw.sh:
    owner: root
    group: root
    mode: "000644"
    content: |
      #! /bin/bash
      cp /tmp/00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
container_commands:
  00_appdeploy_rewrite_hook:
    command: cp /tmp/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/appdeploy/enact
  01_configdeploy_rewrite_hook:
    command: cp /tmp/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/configdeploy/enact
  02_rewrite_hook_perms:
    command: chmod 755 /opt/elasticbeanstalk/hooks/appdeploy/enact/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/configdeploy/enact/45_nginx_https_rw.sh
  03_rewrite_hook_ownership:
    command: chown root:users /opt/elasticbeanstalk/hooks/appdeploy/enact/45_nginx_https_rw.sh /opt/elasticbeanstalk/hooks/configdeploy/enact/45_nginx_https_rw.sh
