<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gruveo Embed API: Basic Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      window.securityParams = {
        clientId: <%- clientId %>,
        generated: <%- generated %>,
        signature: <%- signature %>
      };
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=".">
            Gruveo Embed API: Basic Demo
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>
            This simple demo shows how you can add a Gruveo embed to your web application and interact with it using the provided JavaScript API.
            To establish a call, open this page in two or more tabs and join the same room in all.
            Open the JavaScript console in your browser to see the logs.
          </p>
          <form id="form">
            <div class="form-group">
              <label class="control-label" for="code-input">Enter a room name to join:</label>
              <div class="input-group">
                <input id="code-input" type="text" class="form-control" size="10" placeholder="Leave empty for random">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-success">Call</button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <input id="audio-chk" type="checkbox" /> Microphone on
              </label>
              <label class="checkbox-inline">
                <input id="video-chk" type="checkbox" /> Camera on
              </label>
              <label class="checkbox-inline">
                <input id="roomLock-chk" type="checkbox" /> Room locked
              </label>
            </div>
            <button id="switchCamera-btn" type="button" class="btn btn-default">Switch camera</button>
            <button id="end-btn" type="button" class="btn btn-danger">End call</button>
          </form>
        </div>
        <div class="col-md-8 col-md-offset-2" style="margin-top: 15px;">
          <div id="myembed"></div>
          <script src="script.js"></script>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2017 Gruveo</p>
      </footer>
    </div>

  </body>
</html>
